@use '../../../styles/scss/App.module.scss';
@use '../../../styles/scss/Font-Exact.module.scss' as FontExact;

.menu {
  width: 100%;
  min-height: 10px;
  height: 100%;
  // height: calc(100vh - 130px);
  background: rgba(76, 29, 149, 0.3);
  border: 2px solid rgba(167, 139, 250, 0.8);
  backdrop-filter: none;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(139, 92, 246, 0.4), 0 0 40px rgba(139, 92, 246, 0.2),
    inset 0 0 30px rgba(139, 92, 246, 0.1);
  position: relative;
  color: white;
  // top: 50px;

  & > div {
    padding-left: 10px;
    @include App.flex-box-center(column);
    align-items: start;
    // @include App.dongle-font(2rem);
  }
  & > li {
    height: 90%;
    list-style-type: none;
  }
  & > li > ul {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-weight: 500;
    // @include App.dongle-font(2rem);
  }
  & > li > ul:hover {
    font-weight: 800;
    color: rgba(255, 255, 255, 0.8);
  }
  & > li > ul:active {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 800;
  }
}
.menu-folded {
  width: 100%;
  height: 0px;
  background: rgba(76, 29, 149, 0.3);
  border: 2px solid rgba(167, 139, 250, 0.8);
  backdrop-filter: none;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(139, 92, 246, 0.4), 0 0 40px rgba(139, 92, 246, 0.2),
    inset 0 0 30px rgba(139, 92, 246, 0.1);
  position: relative;
}

.korean-dongle-font {
  @include App.dongle-font(3rem);
}
.korean-dongle-font2 {
  @include App.dongle-font(2.2rem);
}
.japanese-potta-font {
  @include App.potta-font(1.5rem);
  line-height: 3;
}
.japanese-potta-font2 {
  @include App.potta-font(1.2rem);
  line-height: 2.5;
}

//~ 디바이스
@media (min-device-width: 1025px) and (max-device-width: 1366px) {
  .menu {
    width: 100%;
    height: 100%;

    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(2rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      // @include App.dongle-font(1.9rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.8rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.8rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.45rem);
    line-height: 2.5;
  }
  .japanese-potta-font2 {
    @include App.potta-font(1.15rem);
    line-height: 2.2;
  }

  .menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
//~ 태블릿, 아이패드, 아이패드 프로
@media (min-device-width: 769px) and (max-device-width: 1024px) {
  .menu {
    width: 100%;
    height: 100%;

    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(1.9rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      // @include App.dongle-font(1.7rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.7rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.7rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.4rem);
    line-height: 2.3;
  }
  .japanese-potta-font2 {
    @include App.potta-font(1.1rem);
    line-height: 2;
  }

  .menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
//~ 481px ~ 768px 및 태블릿
@media (min-device-width: 481px) and (max-device-width: 768px) {
  .menu {
    width: 100%;
    height: 100%;

    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(1.9rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      // @include App.dongle-font(1.7rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.7rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.7rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.35rem);
    line-height: 2.2;
  }
  .japanese-potta-font2 {
    @include App.potta-font(1.05rem);
    line-height: 1.9;
  }

  .menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

//~ IPhone 14 Pro Max(430px)
@media only screen and (min-device-width: 415px) and (max-device-width: 480px) {
  .menu {
    width: 100%;
    height: 100%;

    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(1.5rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      // @include App.dongle-font(1.4rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.4rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.3rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.25rem);
    line-height: 2;
  }
  .japanese-potta-font2 {
    @include App.potta-font(0.95rem);
    line-height: 1.8;
  }

  .menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

//~ 아이폰XR
@media (min-device-width: 376px) and (max-device-width: 414px) {
  .menu {
    width: 100%;
    height: 100%;

    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(1.4rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      @include FontExact.exact-korean-font('size-135') /* was: 1.35rem */;
      // @include App.dongle-font(1.3rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.4rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.3rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.2rem);
    line-height: 1.9;
  }
  .japanese-potta-font2 {
    @include App.potta-font(0.9rem);
    line-height: 1.7;
  }
  .menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 17px;
  }
}
//~ 아이폰 SE
@media (min-device-width: 281px) and (max-device-width: 375px) {
  .menu {
    width: 100%;
    height: 100%;

    // position: relative;

    & > div {
      height: auto;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(1.4rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      @include FontExact.exact-korean-font('size-135') /* was: 1.35rem */;
      // @include App.dongle-font(1.3rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.4rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.3rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.15rem);
    line-height: 1.8;
  }
  .japanese-potta-font2 {
    @include App.potta-font(0.85rem);
    line-height: 1.6;
  }

  .menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 17px;
  }
}

//~ 갤럭시 폴드
@media (max-device-width: 280px) {
  .menu {
    width: 100vw;
    height: 100%;

    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(1.5rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      @include FontExact.exact-korean-font('size-135') /* was: 1.35rem */;
      // @include App.dongle-font(1.4rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.4rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.3rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.1rem);
    line-height: 1.7;
  }
  .japanese-potta-font2 {
    @include App.potta-font(0.8rem);
    line-height: 1.5;
  }

  .menu > div > h2.japanese-potta-font {
    margin-top: 3px;
    margin-bottom: 10px;
  }
}

//! 반응형 웹브라우저
//~ 디바이스
@media (min-width: 1025px) and (max-width: 1366px) {
  .menu {
    width: 100%;
    height: 100%;

    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      @include App.dongle-font(2rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      @include App.dongle-font(1.9rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.8rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.8rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.45rem);
    line-height: 2.5;
  }
  .japanese-potta-font2 {
    @include App.potta-font(1.15rem);
    line-height: 2.2;
  }

  .menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
//~ 태블릿, 아이패드, 아이패드 프로
@media (min-width: 769px) and (max-width: 1024px) {
  .menu {
    width: 100%;
    height: 100%;

    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      @include App.dongle-font(1.9rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      @include App.dongle-font(1.7rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.7rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.7rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.4rem);
    line-height: 2.3;
  }
  .japanese-potta-font2 {
    @include App.potta-font(1.1rem);
    line-height: 2;
  }

  .menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
//~ 481px ~ 768px 및 태블릿
@media (min-width: 481px) and (max-width: 768px) {
  .menu {
    width: 100%;
    height: 100%;

    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      @include App.dongle-font(1.9rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      @include App.dongle-font(1.7rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.7rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.7rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.35rem);
    line-height: 2.2;
  }
  .japanese-potta-font2 {
    @include App.potta-font(1.05rem);
    line-height: 1.9;
  }

  .menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

//~ IPhone 14 Pro Max(430px)
@media only screen and (min-width: 415px) and (max-width: 480px) {
  .menu {
    width: 100%;
    height: 100%;

    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(1.5rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      // @include App.dongle-font(1.4rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.4rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.3rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.25rem);
    line-height: 2;
  }
  .japanese-potta-font2 {
    @include App.potta-font(0.95rem);
    line-height: 1.8;
  }

  .menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

//~ 아이폰XR
@media (min-width: 376px) and (max-width: 414px) {
  .menu {
    width: 100%;
    height: 100%;

    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(1.4rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      @include FontExact.exact-korean-font('size-135') /* was: 1.35rem */;
      // @include App.dongle-font(1.3rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.4rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.3rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.2rem);
    line-height: 1.9;
  }
  .japanese-potta-font2 {
    @include App.potta-font(0.9rem);
    line-height: 1.7;
  }
  .menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 17px;
  }
}
//~ 아이폰 SE
@media (min-width: 281px) and (max-width: 375px) {
  .menu {
    width: 100%;
    height: 100%;

    // position: relative;

    & > div {
      height: auto;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(1.4rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      @include FontExact.exact-korean-font('size-135') /* was: 1.35rem */;
      // @include App.dongle-font(1.3rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.4rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.3rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.15rem);
    line-height: 1.8;
  }
  .japanese-potta-font2 {
    @include App.potta-font(0.85rem);
    line-height: 1.6;
  }

  .menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 17px;
  }
}

//~ 갤럭시 폴드
@media (max-width: 280px) {
  .menu {
    width: 100vw;
    height: 100%;

    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(1.5rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      @include FontExact.exact-korean-font('size-135') /* was: 1.35rem */;
      // @include App.dongle-font(1.4rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.4rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.3rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.1rem);
    line-height: 1.7;
  }
  .japanese-potta-font2 {
    @include App.potta-font(0.8rem);
    line-height: 1.5;
  }

  .menu > div > h2.japanese-potta-font {
    margin-top: 3px;
    margin-bottom: 10px;
  }
}

//* 아이패드 프로 가로
@media screen and (orientation: landscape) and (min-device-width: 1025px) and (max-device-width: 1366px) {
  div.menu {
    height: 100%;
    // height: 20%;
    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(2.1rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      // @include App.dongle-font(1.9rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }
  .korean-dongle-font {
    @include App.dongle-font(2.8rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.8rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.45rem);
    line-height: 2.5;
  }
  .japanese-potta-font2 {
    @include App.potta-font(1.15rem);
    line-height: 2.2;
  }

  .menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
//* 태블릿 아이패드, 아이패드 프로 가로
@media screen and (orientation: landscape) and (min-device-width: 933px) and (max-device-width: 1024px) {
  div.menu {
    height: auto;
    max-height: 100%;
    // height: 25%;
    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(2rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      // @include App.dongle-font(1.8rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }
  .korean-dongle-font {
    @include App.dongle-font(2.7rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.7rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.4rem);
    line-height: 2.3;
  }
  .japanese-potta-font2 {
    @include App.potta-font(1.1rem);
    line-height: 2;
  }

  .menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

//* IPhon 14 Pro Max 가로모드
@media screen and (orientation: landscape) and (min-device-width: 897px) and (max-device-width: 932px) {
  div.menu {
    padding-top: 50px;
    height: 100%;
    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(1.5rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      // @include App.dongle-font(1.5rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.4rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.3rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.25rem);
    line-height: 2;
  }
  .japanese-potta-font2 {
    @include App.potta-font(0.95rem);
    line-height: 1.8;
  }

  div.menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

//* 아이폰XR 가로모드
@media screen and (orientation: landscape) and (min-device-width: 668px) and (max-device-width: 896px) {
  div.menu {
    padding-top: 50px;
    height: 100%;
    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(1.8rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      // @include App.dongle-font(1.7rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.4rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.3rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.2rem);
    line-height: 1.9;
  }
  .japanese-potta-font2 {
    @include App.potta-font(0.9rem);
    line-height: 1.7;
  }

  div.menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

//* 아이폰SE 가로모드
@media screen and (orientation: landscape) and (min-device-width: 654px) and (max-device-width: 667px) {
  div.menu {
    padding-top: 50px;
    height: 100%;
    // height: 45%;
    // position: relative;

    & > div {
      height: auto;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(1.5rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      // @include App.dongle-font(1.5rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.4rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.3rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.15rem);
    line-height: 1.8;
  }
  .japanese-potta-font2 {
    @include App.potta-font(0.85rem);
    line-height: 1.6;
  }

  div.menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
//* 갤럭시 폴드 가로모드
@media screen and (orientation: landscape) and (max-device-width: 653px) {
  div.menu {
    padding-top: 50px;
    height: 100%;
    // position: relative;

    & > div {
      height: auto;
      padding-left: 10px;
      @include App.flex-box-center(column);
      align-items: start;
      // @include App.dongle-font(1.5rem);
    }
    & > li {
      height: auto;
      @include App.flex-box-center(row);
      justify-content: start;
    }
    & > li > ul {
      padding: 0px;
      padding-left: 10px;
      // @include App.dongle-font(1.5rem);
    }
    & > li > ul:hover {
    }
    & > li > ul:active {
    }
    .link-style {
    }
  }

  .korean-dongle-font {
    @include App.dongle-font(2.4rem);
  }
  .korean-dongle-font2 {
    @include App.dongle-font(1.3rem);
  }
  .japanese-potta-font {
    @include App.potta-font(1.1rem);
    line-height: 1.7;
  }
  .japanese-potta-font2 {
    @include App.potta-font(0.8rem);
    line-height: 1.5;
  }

  div.menu > div > h2.japanese-potta-font {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
