@use '../../styles/scss/Font-Exact.module.scss' as FontExact;

.card-symbolic-title {
  font-weight: 800;
  color: red;
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   @include FontExact.exact-korean-font('size-170')  /* was: 1.7rem */;
}
.each-card-title-0 {
  font-weight: 400;
  color: rgb(228, 47, 47);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-1 {
  font-weight: 400;
  color: rgb(255, 160, 80);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-2 {
  font-weight: 400;
  color: rgb(255, 255, 0);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-3 {
  font-weight: 400;
  color: rgb(0, 255, 0);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-4 {
  font-weight: 400;
  color: rgb(0, 0, 255);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-5 {
  font-weight: 400;
  color: rgb(150, 50, 255);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-6 {
  font-weight: 400;
  color: rgb(150, 50, 255);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-7 {
  font-weight: 400;
  color: purple;
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-7 {
  font-weight: 400;
  color: rgb(253, 140, 159);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-8 {
  font-weight: 400;
  color: rgb(0, 255, 255);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-9 {
  font-weight: 400;
  color: gold;
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-10 {
  font-weight: 400;
  color: rgb(192, 192, 192);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-8 {
  font-weight: 400;
  color: rgb(253, 140, 159);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-9 {
  font-weight: 400;
  color: rgb(0, 255, 255);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-10 {
  font-weight: 400;
  color: gold;
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-11 {
  font-weight: 400;
  color: rgb(192, 192, 192);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-12 {
  font-weight: 400;
  color: white;
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}

//! japanese
.card-symbolic-title-japanese {
  font-weight: 800;
  color: red;
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-0-japanese {
  font-weight: 400;
  color: rgb(228, 47, 47);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-1-japanese {
  font-weight: 400;
  color: rgb(255, 160, 80);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-2-japanese {
  font-weight: 400;
  color: rgb(255, 255, 0);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-3-japanese {
  font-weight: 400;
  color: rgb(0, 255, 0);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-4-japanese {
  font-weight: 400;
  color: rgb(0, 0, 255);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-5-japanese {
  font-weight: 400;
  color: rgb(150, 50, 255);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-6-japanese {
  font-weight: 400;
  color: rgb(150, 50, 255);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-7-japanese {
  font-weight: 400;
  color: purple;
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-7-japanese {
  font-weight: 400;
  color: rgb(253, 140, 159);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-8-japanese {
  font-weight: 400;
  color: rgb(0, 255, 255);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-9-japanese {
  font-weight: 400;
  color: gold;
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-10-japanese {
  font-weight: 400;
  color: rgb(192, 192, 192);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-8-japanese {
  font-weight: 400;
  color: rgb(253, 140, 159);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-9-japanese {
  font-weight: 400;
  color: rgb(0, 255, 255);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-10-japanese {
  font-weight: 400;
  color: gold;
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-11-japanese {
  font-weight: 400;
  color: rgb(192, 192, 192);
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
.each-card-title-12-japanese {
  font-weight: 400;
  color: white;
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black; /* 흰색 외곽선 */
  //   font-size: 1rem;
}
