@use '../../styles/scss/App.module.scss' as App;
@use '../../styles/scss/Font-Exact.module.scss' as FontExact;
@use '../../styles/scss/TarotCardSpreadForm.module.scss';

%durumagi-container {
  width: 40%;
  min-width: 550px; // & 크기 이상해지면 없애거나 수정
  height: 80%;
  //   /* 그림자 효과 */
  //   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-image: url('/assets/images/durumagi.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include App.position-absolute-right-half();
  @include App.flex-box-center(column);
}
.backdrop {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  // height: calc(100vh - 130px);
  z-index: 101; //! InAppPurchase 때문
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 80%;
  z-index: 102; //! InAppPurchase 때문
  overflow: hidden;
  @include App.flex-box-center(column);
  border: none;
  background-color: transparent;
  @extend %durumagi-container;
}
.title {
  width: 100%;
  @include App.flex-box-center(row);
  justify-content: start;
  p {
    @include App.dongle-font(1.8rem);
    margin: 10px;
    margin-left: 20px;
  }
}
.modal-content {
  width: 65%;
  height: 60%;
  @include App.dongle-font(1.7rem);
  @include App.flex-box-center(column);
  justify-content: space-between;
  .content {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    color: black;
  }
}
.price-list-item .voucher-main .voucher-logo span {
  @include App.dongle-font(3rem);
  line-height: 1;
}
.price-list-item-japanese .voucher-main .voucher-logo span {
  @include App.potta-font(1.7rem);
  line-height: 2.5;
}
@include App.scrollBar-custom-className(
  content,
  13px,
  5px,
  rgb(177, 40, 40),
  transperant
);
.price-list-item {
  @include App.flex-box-center(column);
  justify-content: space-around;
  & > div {
    @include FontExact.exact-korean-font('size-180') /* was: 1.8rem */;
  }
  & > div:first-child {
    width: 100%;
  }
  & > div > div:first-child > span > span {
    @include FontExact.exact-korean-font('size-180') /* was: 1.8rem */;
  }
  & > div > div > span > span:nth-child(3) {
    text-decoration: line-through;
  }
}
.price-list-item-japanese {
  @include App.flex-box-center(column);
  justify-content: space-around;
  line-height: 1;
  & > div {
    @include App.potta-font(1rem);
    line-height: 1;
  }
  & > div:first-child {
    width: 100%;
  }
  & > div > div:first-child > span {
    @include App.potta-font(1.7rem);
    line-height: 1;
  }
  & > div > div:first-child > span > span {
    @include App.potta-font(1.7rem);
    line-height: 1;
  }
  & > div > div > span > span {
    @include App.potta-font(1rem);
    line-height: 1;
  }
  & > div > div > span > span:nth-child(3) {
    text-decoration: line-through;
  }
}
.voucher-title {
  @include App.flex-box-center(row);
  font-weight: 800;
  & > div:nth-child(1) {
    width: 45%;
  }
  & > div:nth-child(2) {
    width: 55%;
    text-align: end;
    color: white;
  }
}
.sparkle {
  animation: rainbow 5s infinite, sparkle 2s infinite;
}
@keyframes sparkle {
  0% {
    text-shadow: 0 0 0 transparent;
  }
  50% {
    text-shadow: 0 0 10px #fff;
  }
  100% {
    text-shadow: 0 0 0 transparent;
  }
}
@keyframes rainbow {
  0% {
    color: #ff0000;
  } /* 빨강 */
  14% {
    color: #ff7f00;
  } /* 주황 */
  28% {
    color: #ffff00;
  } /* 노랑 */
  42% {
    color: #00ff00;
  } /* 초록 */
  57% {
    color: #0000ff;
  } /* 파랑 */
  71% {
    color: #4b0082;
  } /* 진홍 */
  85% {
    color: #8b00ff;
  } /* 보라 */
  100% {
    color: #ff0000;
  } /* 빨강 */
}
.voucher-main {
  width: 100%;
  @include App.flex-box-center(row);
  & > div:nth-child(1).voucher-logo {
    width: 25%;
    text-align: center;
  }
  & > div:nth-child(2).voucher-price {
    width: 75%;
    text-align: end;
  }
}

.button-box {
  width: 100%;
  height: 15%;
  @include App.flex-box-center(row);
  justify-content: end;
}
.button {
  margin: 10px;
  margin-left: 0px;
  min-width: 90px;
}

.title-japanese {
  width: 100%;
  @include App.flex-box-center(row);
  justify-content: start;
  margin-bottom: 10px;
  p {
    @include App.potta-font(1.4rem);
    margin: 10px;
    margin-left: 20px;
  }
}
.modal-content-japanese {
  width: 65%;
  height: 60%;
  @include App.potta-font(1.2rem);
  .content {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    color: black;
  }
}
//~ 디바이스
@media (min-device-width: 1025px) and (max-device-width: 1366px) {
  .modal {
    width: 70%;
    height: 70%;
    max-height: 400px;
  }
  .price-list-item .voucher-main .voucher-logo span {
    @include App.dongle-font(3rem);
  }
  .price-list-item-japanese .voucher-main .voucher-logo span {
    @include App.potta-font(1.7rem);
    line-height: 2.5;
  }
  .modal-content {
  }
  .modal-content-japanese {
  }
}
//~ 태블릿, 아이패드, 아이패드 프로
@media (min-device-width: 769px) and (max-device-width: 1024px) {
  .modal {
    width: 70%;
    height: 70%;
    max-height: 500px;
  }
  .price-list-item .voucher-main .voucher-logo span {
    @include App.dongle-font(3rem);
  }
  .price-list-item-japanese .voucher-main .voucher-logo span {
    @include App.potta-font(1.7rem);
    line-height: 2.5;
  }
  .modal-content {
  }
  .modal-content-japanese {
  }
}
//~ 481px ~ 768px 및 태블릿
@media (min-device-width: 481px) and (max-device-width: 768px) {
  .modal {
    width: 90%;
    max-height: 500px;
  }
  .price-list-item .voucher-main .voucher-logo span {
    @include App.dongle-font(3rem);
  }
  .price-list-item-japanese .voucher-main .voucher-logo span {
    @include App.potta-font(1.7rem);
    line-height: 2.5;
  }
  .modal-content {
  }
  .modal-content-japanese {
  }
}
//~ IPhone 14 Pro Max(430px)
@media only screen and (min-device-width: 415px) and (max-device-width: 480px) {
  .modal {
    width: 100%;
    min-width: 100px;
    height: 70%;
  }
  .price-list-item .voucher-main .voucher-logo span {
    @include App.dongle-font(3rem);
  }
  .price-list-item-japanese .voucher-main .voucher-logo span {
    @include App.potta-font(1.7rem);
    line-height: 2.5;
  }
  .button {
    margin: 0px;
    min-width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
}

//~ 아이폰XR
@media (min-device-width: 376px) and (max-device-width: 414px) {
  .modal {
    width: 100%;
    min-width: 100px;
    height: 70%;
  }
  .price-list-item .voucher-main .voucher-logo span {
    @include App.dongle-font(3rem);
  }
  .price-list-item-japanese .voucher-main .voucher-logo span {
    @include App.potta-font(1.7rem);
    line-height: 2.5;
  }
  .button {
    margin: 0px;
    min-width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
}

//~ 아이폰 SE
@media (min-device-width: 281px) and (max-device-width: 375px) {
  .modal {
    width: 100%;
    min-width: 100px;
    height: 70%;
  }
  .price-list-item .voucher-main .voucher-logo span {
    @include App.dongle-font(3rem);
  }
  .price-list-item-japanese .voucher-main .voucher-logo span {
    @include App.potta-font(1.7rem);
    line-height: 2.5;
  }
  .button {
    margin: 0px;
    min-width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
}
//~ 갤럭시 폴드
@media (max-device-width: 280px) {
  .modal {
    width: 100%;
    min-width: 100px;
    height: 70%;
  }
  .price-list-item .voucher-main .voucher-logo span {
    @include App.dongle-font(3rem);
  }
  .price-list-item-japanese .voucher-main .voucher-logo span {
    @include App.potta-font(1.7rem);
    line-height: 2.5;
  }

  .button {
    margin: 0px;
    min-width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
}

//! 반응형 웹브라우저
//~ 디바이스
@media (min-width: 1025px) and (max-width: 1366px) {
  .modal {
    width: 70%;
    height: 70%;
    max-height: 400px;
  }
  .price-list-item .voucher-main .voucher-logo span {
    @include App.dongle-font(3rem);
  }
  .price-list-item-japanese .voucher-main .voucher-logo span {
    @include App.potta-font(1.7rem);
    line-height: 2.5;
  }
  .modal-content {
  }
  .modal-content-japanese {
  }
}
//~ 태블릿, 아이패드, 아이패드 프로
@media (min-width: 769px) and (max-width: 1024px) {
  .modal {
    width: 70%;
    height: 70%;
    max-height: 500px;
  }
  .price-list-item .voucher-main .voucher-logo span {
    @include App.dongle-font(3rem);
  }
  .price-list-item-japanese .voucher-main .voucher-logo span {
    @include App.potta-font(1.7rem);
    line-height: 2.5;
  }
  .modal-content {
  }
  .modal-content-japanese {
  }
}
//~ 481px ~ 768px 및 태블릿
@media (min-width: 481px) and (max-width: 768px) {
  .modal {
    width: 90%;
    max-height: 500px;
  }
  .price-list-item .voucher-main .voucher-logo span {
    @include App.dongle-font(3rem);
  }
  .price-list-item-japanese .voucher-main .voucher-logo span {
    @include App.potta-font(1.7rem);
    line-height: 2.5;
  }
  .modal-content {
  }
  .modal-content-japanese {
  }
}
//~ IPhone 14 Pro Max(430px)
@media only screen and (min-width: 415px) and (max-width: 480px) {
  .modal {
    width: 100%;
    min-width: 100px;
    height: 70%;
  }
  .price-list-item .voucher-main .voucher-logo span {
    @include App.dongle-font(3rem);
  }
  .price-list-item-japanese .voucher-main .voucher-logo span {
    @include App.potta-font(1.7rem);
    line-height: 2.5;
  }
  .button {
    margin: 0px;
    min-width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
}

//~ 아이폰XR
@media (min-width: 376px) and (max-width: 414px) {
  .modal {
    width: 100%;
    min-width: 100px;
    height: 70%;
  }
  .price-list-item .voucher-main .voucher-logo span {
    @include App.dongle-font(3rem);
  }
  .price-list-item-japanese .voucher-main .voucher-logo span {
    @include App.potta-font(1.7rem);
    line-height: 2.5;
  }
  .button {
    margin: 0px;
    min-width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
}

//~ 아이폰 SE
@media (min-width: 281px) and (max-width: 375px) {
  .modal {
    width: 100%;
    min-width: 100px;
    height: 70%;
  }
  .price-list-item .voucher-main .voucher-logo span {
    @include App.dongle-font(3rem);
  }
  .price-list-item-japanese .voucher-main .voucher-logo span {
    @include App.potta-font(1.7rem);
    line-height: 2.5;
  }
  .button {
    margin: 0px;
    min-width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
}
//~ 갤럭시 폴드
@media (max-width: 280px) {
  .modal {
    width: 100%;
    min-width: 100px;
    height: 70%;
  }
  .price-list-item .voucher-main .voucher-logo span {
    @include App.dongle-font(3rem);
  }
  .price-list-item-japanese .voucher-main .voucher-logo span {
    @include App.potta-font(1.7rem);
    line-height: 2.5;
  }

  .button {
    margin: 0px;
    min-width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
}

//* 아이패드 프로 가로
@media screen and (orientation: landscape) and (min-device-width: 1025px) and (max-device-width: 1366px) {
  div.backdrop {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100%;
    // height: calc(100vh - 130px);
    z-index: 20;
    background: rgba(0, 0, 0, 0.75);
  }
  div.modal {
    max-width: 100%;
    height: 80%;
    max-height: 100%;
  }
  .modal-content {
    width: 65%;
    height: 60%;
    @include App.dongle-font(1.7rem);
    @include App.flex-box-center(column);
    justify-content: space-between;
    .content {
      width: 100%;
      height: 80%;
      overflow-y: auto;
    }
  }
  .button-box {
    width: 100%;
    height: 15%;
    @include App.flex-box-center(row);
    justify-content: end;
  }
  button.button {
    margin: 0px;
    min-width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
  .modal-content-japanese {
    width: 65%;
    height: 60%;
    @include App.potta-font(1.2rem);
    @include App.flex-box-center(column);
    justify-content: space-between;
    .content {
      width: 100%;
      height: 80%;
      overflow-y: auto;
    }
  }
}

//* 태블릿 아이패드, 아이패드 프로 가로
@media screen and (orientation: landscape) and (min-device-width: 933px) and (max-device-width: 1024px) {
  div.backdrop {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100%;
    // height: calc(100vh - 130px);
    z-index: 20;
    background: rgba(0, 0, 0, 0.75);
  }
  div.modal {
    max-width: 100%;
    height: 600px;
    max-height: 100%;
  }
  .modal-content {
    width: 65%;
    height: 60%;
    @include App.dongle-font(1.7rem);
    @include App.flex-box-center(column);
    justify-content: space-between;
    .content {
      width: 100%;
      height: 75%;
      overflow-y: auto;
    }
  }
  .button-box {
    width: 100%;
    height: 15%;
    @include App.flex-box-center(row);
    justify-content: end;
  }
  button.button {
    margin: 0px;
    min-width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
  .modal-content-japanese {
    width: 65%;
    height: 60%;
    @include App.potta-font(1.2rem);
    @include App.flex-box-center(column);
    justify-content: space-between;
    .content {
      width: 100%;
      height: 75%;
      overflow-y: auto;
    }
  }
}
//* IPhon 14 Pro Max 가로모드
@media screen and (orientation: landscape) and (min-device-width: 897px) and (max-device-width: 932px) {
  div.backdrop {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100%;
    // height: calc(100vh - 130px);
    z-index: 20;
    background: rgba(0, 0, 0, 0.75);
  }
  div.modal {
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
  .modal-content {
    width: 65%;
    height: 60%;
    @include App.dongle-font(1.7rem);
    @include App.flex-box-center(column);
    justify-content: space-between;
    .content {
      width: 100%;
      height: 75%;
      overflow-y: auto;
    }
  }
  .button-box {
    width: 100%;
    height: 15%;
    @include App.flex-box-center(row);
    justify-content: end;
  }
  button.button {
    margin: 0px;
    min-width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
  .modal-content-japanese {
    width: 65%;
    height: 60%;
    @include App.potta-font(1.2rem);
    @include App.flex-box-center(column);
    justify-content: space-between;
    .content {
      width: 100%;
      height: 75%;
      overflow-y: auto;
    }
  }
}

//* 아이폰XR 가로모드
@media screen and (orientation: landscape) and (min-device-width: 668px) and (max-device-width: 896px) {
  div.backdrop {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100%;
    // height: calc(100vh - 130px);
    z-index: 20;
    background: rgba(0, 0, 0, 0.75);
  }
  div.modal {
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
  .modal-content {
    width: 65%;
    height: 60%;
    @include App.dongle-font(1.7rem);
    @include App.flex-box-center(column);
    justify-content: space-between;
    .content {
      width: 100%;
      height: 75%;
      overflow-y: auto;
    }
  }
  .button-box {
    width: 100%;
    height: 15%;
    @include App.flex-box-center(row);
    justify-content: end;
  }
  button.button {
    margin: 0px;
    min-width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
  .modal-content-japanese {
    width: 65%;
    height: 60%;
    @include App.potta-font(1.2rem);
    @include App.flex-box-center(column);
    justify-content: space-between;
    .content {
      width: 100%;
      height: 75%;
      overflow-y: auto;
    }
  }
}
//* 아이폰SE 가로모드
@media screen and (orientation: landscape) and (min-device-width: 654px) and (max-device-width: 667px) {
  div.backdrop {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100%;
    // height: calc(100vh - 130px);
    z-index: 20;
    background: rgba(0, 0, 0, 0.75);
  }
  div.modal {
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
  .modal-content {
    width: 65%;
    height: 60%;
    @include App.dongle-font(1.7rem);
    @include App.flex-box-center(column);
    justify-content: space-between;
    .content {
      width: 100%;
      height: 75%;
      overflow-y: auto;
    }
  }
  .button-box {
    width: 100%;
    height: 15%;
    @include App.flex-box-center(row);
    justify-content: end;
  }
  button.button {
    margin: 0px;
    min-width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
  .modal-content-japanese {
    width: 65%;
    height: 60%;
    @include App.potta-font(1.2rem);
    @include App.flex-box-center(column);
    justify-content: space-between;
    .content {
      width: 100%;
      height: 75%;
      overflow-y: auto;
    }
  }
}

//* 갤럭시 폴드 가로모드
@media screen and (orientation: landscape) and (max-device-width: 653px) {
  div.backdrop {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100%;
    // height: calc(100vh - 130px);
    z-index: 20;
    background: rgba(0, 0, 0, 0.75);
  }
  div.modal {
    width: 70%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
  }
  .modal-content {
    width: 65%;
    height: 60%;
    @include App.dongle-font(1.7rem);
    @include App.flex-box-center(column);
    justify-content: space-between;
    .content {
      width: 100%;
      height: 75%;
      overflow-y: auto;
    }
  }
  .button-box {
    width: 100%;
    height: 15%;
    @include App.flex-box-center(row);
    justify-content: end;
  }
  button.button {
    margin: 0px;
    min-width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
  .modal-content-japanese {
    width: 65%;
    height: 60%;
    @include App.potta-font(1.2rem);
    @include App.flex-box-center(column);
    justify-content: space-between;
    .content {
      width: 100%;
      height: 75%;
      overflow-y: auto;
    }
  }
}

//!
