@use '../../styles/scss/App.module.scss' as App;
@use '../../styles/scss/Font-Exact.module.scss' as FontExact;
@use '../../styles/scss/UserInfoForm.module.scss';

.chart-analyze-durumagi {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
  //   /* 그림자 효과 */
  //   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  background-image: url('/assets/images/durumagi4.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include App.flex-box-center(column);
  @include App.position-absolute-center();
}
.durumagi-box {
  width: 60%;
  height: 70%;
  position: relative;
}
.content {
  width: 100%;
  height: 85%;
  overflow-y: auto;
  position: absolute;
  top: 0%;
  @include App.dongle-font(1.8rem);
  color: black;
  p {
    margin-bottom: 15px;
  }
}
.content-japanese {
  width: 100%;
  height: 85%;
  overflow-y: auto;
  position: absolute;
  top: 0%;
  @include App.potta-font(1.22rem);
  line-height: 1.5;
  color: black;
  p {
    margin-bottom: 15px;
  }
}
@include App.scrollBar-custom-className(
  content,
  10px,
  10px,
  rgba(139, 92, 246, 1),
  rgba(139, 92, 246, 0.3)
);
@include App.scrollBar-custom-className(
  content-japanese,
  10px,
  10px,
  rgba(139, 92, 246, 1),
  rgba(139, 92, 246, 0.3)
);
.btn-box {
  width: 100%;
  height: 12%;
  @include App.flex-box-center(row);
  justify-content: end;
  position: absolute;
  bottom: 0%;

  .cancel-btn,
  .text-save-btn {
    width: 25%;
    height: 90%;
    @include FontExact.exact-korean-font('size-170') /* was: 1.7rem */;
  }
  .cancel-btn-japanese,
  .text-save-btn-japanese {
    width: 30%;
    height: 90%;
  }

  .cancel-btn:hover,
  .text-save-btn:hover {
    @include FontExact.exact-korean-font('size-160') /* was: 1.6rem */;
    font-weight: 500;
    color: rgb(177, 40, 40);
    background-color: gold;
  }
  .cancel-btn-japanese:hover,
  .text-save-btn-japanese:hover {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(177, 40, 40);
    background-color: gold;
  }
}

//~ 디바이스
@media (min-device-width: 1025px) and (max-device-width: 1366px) {
}
//~ 태블릿, 아이패드, 아이패드 프로
@media (min-device-width: 769px) and (max-device-width: 1024px) {
  .content {
    @include App.dongle-font(1.5rem);
  }
  .content-japanese {
    @include App.potta-font(1.1rem);
  }
  @include App.scrollBar-custom-className(
    content,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  @include App.scrollBar-custom-className(
    content-japanese,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
}

//~ 481px ~ 768px 및 태블릿
@media (min-device-width: 481px) and (max-device-width: 768px) {
  .durumagi-box {
    width: 60%;
    height: 70%;
    position: relative;
  }
  .content {
    @include App.dongle-font(1.5rem);
  }
  .content-japanese {
    @include App.potta-font(1.1rem);
  }
  @include App.scrollBar-custom-className(
    content,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  @include App.scrollBar-custom-className(
    content-japanese,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
}

//~ IPhone 14 Pro Max(430px)
@media only screen and (min-device-width: 415px) and (max-device-width: 480px) {
  .durumagi-box {
    width: 70%;
    height: 70%;
    position: relative;
  }
  .content {
    @include App.dongle-font(1.5rem);
  }
  .content-japanese {
    @include App.potta-font(1.1rem);
  }
  @include App.scrollBar-custom-className(
    content,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  @include App.scrollBar-custom-className(
    content-japanese,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
}

//~ 아이폰XR
@media (min-device-width: 376px) and (max-device-width: 414px) {
  .durumagi-box {
    width: 70%;
    height: 70%;
    position: relative;
  }
  .content {
    @include App.dongle-font(1.5rem);
  }
  .content-japanese {
    @include App.potta-font(1.1rem);
  }
  @include App.scrollBar-custom-className(
    content,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  @include App.scrollBar-custom-className(
    content-japanese,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
}

//~ 아이폰 SE
@media (min-device-width: 281px) and (max-device-width: 375px) {
  .durumagi-box {
    width: 70%;
    height: 70%;
    position: relative;
  }
  .content {
    @include App.dongle-font(1.5rem);
  }
  .content-japanese {
    @include App.potta-font(1.1rem);
  }
  @include App.scrollBar-custom-className(
    content,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  @include App.scrollBar-custom-className(
    content-japanese,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
}

//~ 갤럭시 폴드
@media (max-device-width: 280px) {
  .durumagi-box {
    width: 70%;
    height: 70%;
    position: relative;
  }
  .content {
    @include App.dongle-font(1.5rem);
  }
  .content-japanese {
    @include App.potta-font(1.1rem);
  }
  @include App.scrollBar-custom-className(
    content,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  @include App.scrollBar-custom-className(
    content-japanese,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  .btn-box {
    width: 100%;
    height: 12%;
    @include App.flex-box-center(row);
    justify-content: end;
    position: absolute;
    bottom: 0%;

    .cancel-btn,
    .text-save-btn {
      width: 25%;
      height: 90%;
      @include FontExact.exact-korean-font('size-140') /* was: 1.4rem */;
    }
    .cancel-btn-japanese,
    .text-save-btn-japanese {
      width: 30%;
      height: 90%;
      @include FontExact.exact-korean-font('size-070') /* was: 0.7rem */;
    }

    .cancel-btn:hover,
    .text-save-btn:hover {
      @include FontExact.exact-korean-font('size-140') /* was: 1.4rem */;
      font-weight: 500;
      color: rgb(177, 40, 40);
      background-color: gold;
    }
    .cancel-btn-japanese:hover,
    .text-save-btn-japanese:hover {
      @include FontExact.exact-korean-font('size-070') /* was: 0.7rem */;
      font-weight: 500;
      color: rgb(177, 40, 40);
      background-color: gold;
    }
  }
}

//! 반응형 웹사이트

//~ 디바이스
@media (min-width: 1025px) and (max-width: 1366px) {
}
//~ 태블릿, 아이패드, 아이패드 프로
@media (min-width: 769px) and (max-width: 1024px) {
  .content {
    @include App.dongle-font(1.5rem);
  }
  .content-japanese {
    @include App.potta-font(1.1rem);
  }
  @include App.scrollBar-custom-className(
    content,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  @include App.scrollBar-custom-className(
    content-japanese,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
}

//~ 481px ~ 768px 및 태블릿
@media (min-width: 481px) and (max-width: 768px) {
  .durumagi-box {
    width: 60%;
    height: 70%;
    position: relative;
  }
  .content {
    @include App.dongle-font(1.5rem);
  }
  .content-japanese {
    @include App.potta-font(1.1rem);
  }
  @include App.scrollBar-custom-className(
    content,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  @include App.scrollBar-custom-className(
    content-japanese,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
}

//~ IPhone 14 Pro Max(430px)
@media only screen and (min-width: 415px) and (max-width: 480px) {
  .durumagi-box {
    width: 70%;
    height: 70%;
    position: relative;
  }
  .content {
    @include App.dongle-font(1.5rem);
  }
  .content-japanese {
    @include App.potta-font(1.1rem);
  }
  @include App.scrollBar-custom-className(
    content,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  @include App.scrollBar-custom-className(
    content-japanese,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
}

//~ 아이폰XR
@media (min-width: 376px) and (max-width: 414px) {
  .durumagi-box {
    width: 70%;
    height: 70%;
    position: relative;
  }
  .content {
    @include App.dongle-font(1.5rem);
  }
  .content-japanese {
    @include App.potta-font(1.1rem);
  }
  @include App.scrollBar-custom-className(
    content,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  @include App.scrollBar-custom-className(
    content-japanese,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
}

//~ 아이폰 SE
@media (min-width: 281px) and (max-width: 375px) {
  .durumagi-box {
    width: 70%;
    height: 70%;
    position: relative;
  }
  .content {
    @include App.dongle-font(1.5rem);
  }
  .content-japanese {
    @include App.potta-font(1.1rem);
  }
  @include App.scrollBar-custom-className(
    content,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  @include App.scrollBar-custom-className(
    content-japanese,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
}

//~ 갤럭시 폴드
@media (max-width: 280px) {
  .durumagi-box {
    width: 70%;
    height: 70%;
    position: relative;
  }
  .content {
    @include App.dongle-font(1.5rem);
  }
  .content-japanese {
    @include App.potta-font(1.1rem);
  }
  @include App.scrollBar-custom-className(
    content,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  @include App.scrollBar-custom-className(
    content-japanese,
    5px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  .btn-box {
    width: 100%;
    height: 12%;
    @include App.flex-box-center(row);
    justify-content: end;
    position: absolute;
    bottom: 0%;

    .cancel-btn,
    .text-save-btn {
      width: 25%;
      height: 90%;
      @include FontExact.exact-korean-font('size-140') /* was: 1.4rem */;
    }
    .cancel-btn-japanese,
    .text-save-btn-japanese {
      width: 30%;
      height: 90%;
      @include FontExact.exact-korean-font('size-070') /* was: 0.7rem */;
    }

    .cancel-btn:hover,
    .text-save-btn:hover {
      @include FontExact.exact-korean-font('size-140') /* was: 1.4rem */;
      font-weight: 500;
      color: rgb(177, 40, 40);
      background-color: gold;
    }
    .cancel-btn-japanese:hover,
    .text-save-btn-japanese:hover {
      @include FontExact.exact-korean-font('size-070') /* was: 0.7rem */;
      font-weight: 500;
      color: rgb(177, 40, 40);
      background-color: gold;
    }
  }
}

//* 아이패드 프로 가로
@media screen and (orientation: landscape) and (min-device-width: 1025px) and (max-device-width: 1366px) {
  .content {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    position: absolute;
    top: 0%;
    @include App.dongle-font(1.5rem);
    color: black;
    p {
      margin-bottom: 15px;
    }
  }
  .content-japanese {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    position: absolute;
    top: 0%;
    @include App.potta-font(1.1rem);
    color: black;
    p {
      margin-bottom: 15px;
    }
  }
}
//* 태블릿 아이패드, 아이패드 프로 가로
@media screen and (orientation: landscape) and (min-device-width: 933px) and (max-device-width: 1024px) {
  .content {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    position: absolute;
    top: 0%;
    @include App.dongle-font(1.5rem);
    color: black;
    p {
      margin-bottom: 15px;
    }
  }
  .content-japanese {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    position: absolute;
    top: 0%;
    @include App.potta-font(1.1rem);
    color: black;
    p {
      margin-bottom: 15px;
    }
  }
}

//* IPhon 14 Pro Max 가로모드
@media screen and (orientation: landscape) and (min-device-width: 897px) and (max-device-width: 932px) {
  .content {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    position: absolute;
    top: 0%;
    @include App.dongle-font(1.5rem);
    color: black;
    p {
      margin-bottom: 15px;
    }
  }
  .content-japanese {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    position: absolute;
    top: 0%;
    @include App.potta-font(1.1rem);
    color: black;
    p {
      margin-bottom: 15px;
    }
  }
}
//* 아이폰XR 가로모드
@media screen and (orientation: landscape) and (min-device-width: 668px) and (max-device-width: 896px) {
  .content {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    position: absolute;
    top: 0%;
    @include App.dongle-font(1.5rem);
    color: black;
    p {
      margin-bottom: 15px;
    }
  }
  .content-japanese {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    position: absolute;
    top: 0%;
    @include App.potta-font(1.1rem);
    color: black;
    p {
      margin-bottom: 15px;
    }
  }
}
//* 아이폰SE 가로모드
@media screen and (orientation: landscape) and (min-device-width: 654px) and (max-device-width: 667px) {
  .content {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    position: absolute;
    top: 0%;
    @include App.dongle-font(1.5rem);
    color: black;
    p {
      margin-bottom: 15px;
    }
  }
  .content-japanese {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    position: absolute;
    top: 0%;
    @include App.potta-font(1.1rem);
    color: black;
    p {
      margin-bottom: 15px;
    }
  }
}

//* 갤럭시 폴드 가로모드
@media screen and (orientation: landscape) and (max-device-width: 653px) {
  .chart-analyze-durumagi {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    //   /* 그림자 효과 */
    //   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    background-image: url('/assets/images/durumagi4.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @include App.flex-box-center(column);
    @include App.position-absolute-center();
  }
  .durumagi-box {
    width: 60%;
    height: 70%;
    position: relative;
  }
  .content {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    position: absolute;
    top: 0%;
    @include App.dongle-font(1.5rem);
    color: black;
    p {
      margin-bottom: 15px;
    }
  }
  .content-japanese {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    position: absolute;
    top: 0%;
    @include App.potta-font(1.1rem);
    color: black;
    p {
      margin-bottom: 15px;
    }
  }
  @include App.scrollBar-custom-className(
    content,
    10px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  @include App.scrollBar-custom-className(
    content-japanese,
    10px,
    10px,
    rgba(139, 92, 246, 1),
    rgba(139, 92, 246, 0.3)
  );
  .btn-box {
    width: 100%;
    height: 12%;
    @include App.flex-box-center(row);
    justify-content: end;
    position: absolute;
    bottom: 0%;

    .cancel-btn,
    .text-save-btn {
      width: 25%;
      height: 90%;
      @include FontExact.exact-korean-font('size-170') /* was: 1.7rem */;
    }
    .cancel-btn-japanese,
    .text-save-btn-japanese {
      width: 30%;
      height: 90%;
    }

    .cancel-btn:hover,
    .text-save-btn:hover {
      @include FontExact.exact-korean-font('size-160') /* was: 1.6rem */;
      font-weight: 500;
      color: rgb(177, 40, 40);
      background-color: gold;
    }
    .cancel-btn-japanese:hover,
    .text-save-btn-japanese:hover {
      font-size: 1rem;
      font-weight: 500;
      color: rgb(177, 40, 40);
      background-color: gold;
    }
  }
}

//!
