@use '../../styles/scss/App.module.scss';
// 변수 정의
$primary-yellow: #facc15;
$primary-orange: #f97316;
$white: #ffffff;
.badge {
  background: linear-gradient(to right, $primary-yellow, $primary-orange);
  color: $white;
  padding: 0.375rem 1rem;
  border-radius: 0.375rem;
  @include App.dongle-font(1.5rem);
  line-height: 0.5;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.badge-position {
  position: absolute;
}
.VIP {
  background: linear-gradient(to right, $primary-yellow, $primary-orange);
}
.COSMOS {
  background: linear-gradient(to right, #6a0dad, #191970);
  color: gold;
}
.STAR {
  background: linear-gradient(to right, #6a0dad, #191970);
  color: yellow;
}
.NEW {
  background: linear-gradient(to right, #6a0dad, #191970);
  color: rgb(245, 99, 245);
}
