@use '../../styles/scss/App.module.scss' as App;
@use '../../styles/scss/TarotCardSpreadForm.module.scss';

.answer-card-images-contianer {
  @include App.no-select;
  @include App.no-drag;
  width: 50%;
  max-width: 500px; //& 이상하면 수정
  height: 80%;
  max-height: 480px; //& 이상하면 수정
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7%;
  @include App.position-absolute-left-half();
  @include App.flex-box-center(row);
}
@media (max-height: 670px) {
  .answer-card-images-contianer {
    min-height: 280px;
  }
}
//~ 디바이스
@media (min-device-width: 1025px) and (max-device-width: 1366px) {
  .answer-card-images-contianer {
    width: 50%;
    height: 80%;
    max-height: 100%;
    min-height: 400px;
    // min-height: 480px;
    @include App.position-absolute-left-half();
  }
}
//~ 태블릿, 아이패드, 아이패드 프로
@media (min-device-width: 769px) and (max-device-width: 1024px) {
  .answer-card-images-contianer {
    width: 90%;
    max-width: 90%;
    max-height: 45%;
    min-height: 400px;
    // min-height: 480px;
    top: 20px;
    right: 0%;
    transform: translate(0%, 0%);
    @include App.position-absolute-top-half();
  }
}
//~ 481px ~ 768px 및 태블릿
@media (min-device-width: 481px) and (max-device-width: 768px) {
  .answer-card-images-contianer {
    width: 90%;
    max-width: 90%;
    max-height: 45%;
    min-height: 360px;
    top: 20px;
    right: 0%;
    transform: translate(0%, 0%);
    @include App.position-absolute-top-half();
  }
}

//~ IPhone 14 Pro Max(430px)
@media only screen and (min-device-width: 415px) and (max-device-width: 480px) {
  .answer-card-images-contianer {
    width: 90%;
    max-width: 90%;
    max-height: 45%;
    min-height: 320px;
    top: 20px;
    right: 0%;
    transform: translate(0%, 0%);
    @include App.position-absolute-top-half();
  }
}

//~ 아이폰XR
@media (min-device-width: 376px) and (max-device-width: 414px) {
  .answer-card-images-contianer {
    width: 90%;
    max-width: 90%;
    max-height: 45%;
    min-height: 300px;
    top: 20px;
    right: 0%;
    transform: translate(0%, 0%);
    @include App.position-absolute-top-half();
  }
}

//~ 아이폰 SE
@media (min-device-width: 281px) and (max-device-width: 375px) {
  .answer-card-images-contianer {
    width: 90%;
    max-width: 90%;
    max-height: 45%;
    min-height: 220px;
    top: 20px;
    right: 0%;
    transform: translate(0%, 0%);
    @include App.position-absolute-top-half();
  }
}

//~ 갤럭시 폴드
@media (max-device-width: 280px) {
  .answer-card-images-contianer {
    width: 100%;
    max-width: 100%;
    max-height: 45%;
    min-height: 220px;
    top: 20px;
    right: 0%;
    transform: translate(0%, 0%);
    @include App.position-absolute-top-half();
  }
}

//! 반응형 웹브라우저

//~ 디바이스
@media (min-width: 1025px) and (max-width: 1366px) {
  .answer-card-images-contianer {
    width: 50%;
    height: 80%;
    max-height: 100%;
    min-height: 400px;
    // min-height: 480px;
    @include App.position-absolute-left-half();
  }
}
//~ 태블릿, 아이패드, 아이패드 프로
@media (min-width: 769px) and (max-width: 1024px) {
  .answer-card-images-contianer {
    width: 90%;
    max-width: 90%;
    max-height: 45%;
    min-height: 400px;
    // min-height: 480px;
    top: 20px;
    right: 0%;
    transform: translate(0%, 0%);
    @include App.position-absolute-top-half();
  }
}
//~ 481px ~ 768px 및 태블릿
@media (min-width: 481px) and (max-width: 768px) {
  .answer-card-images-contianer {
    width: 90%;
    max-width: 90%;
    max-height: 45%;
    min-height: 360px;
    top: 20px;
    right: 0%;
    transform: translate(0%, 0%);
    @include App.position-absolute-top-half();
  }
}

//~ IPhone 14 Pro Max(430px)
@media only screen and (min-width: 415px) and (max-width: 480px) {
  .answer-card-images-contianer {
    width: 90%;
    max-width: 90%;
    max-height: 45%;
    min-height: 320px;
    top: 20px;
    right: 0%;
    transform: translate(0%, 0%);
    @include App.position-absolute-top-half();
  }
}

//~ 아이폰XR
@media (min-width: 376px) and (max-width: 414px) {
  .answer-card-images-contianer {
    width: 90%;
    max-width: 90%;
    max-height: 45%;
    min-height: 300px;
    top: 20px;
    right: 0%;
    transform: translate(0%, 0%);
    @include App.position-absolute-top-half();
  }
}

//~ 아이폰 SE
@media (min-width: 281px) and (max-width: 375px) {
  .answer-card-images-contianer {
    width: 90%;
    max-width: 90%;
    max-height: 45%;
    min-height: 220px;
    top: 20px;
    right: 0%;
    transform: translate(0%, 0%);
    @include App.position-absolute-top-half();
  }
}

//~ 갤럭시 폴드
@media (max-width: 280px) {
  .answer-card-images-contianer {
    width: 100%;
    max-height: 45%;
    min-height: 220px;
    top: 20px;
    right: 0%;
    transform: translate(0%, 0%);
    @include App.position-absolute-top-half();
  }
}

//* 아이패드 프로 가로
@media screen and (orientation: landscape) and (min-device-width: 1025px) and (max-device-width: 1366px) {
  div.answer-card-images-contianer {
    width: 50%;
    max-width: 50%;
    height: 85%;
    max-height: 100%;
    min-height: calc(100% - 120px);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50px;
    left: 0%;
    transform: translate(0%, 0%);
    @include App.flex-box-center(row);
  }
}
//* 태블릿 아이패드, 아이패드 프로 가로
@media screen and (orientation: landscape) and (min-device-width: 933px) and (max-device-width: 1024px) {
  div.answer-card-images-contianer {
    width: 50%;
    max-width: 50%;
    height: 85%;
    max-height: 100%;
    min-height: calc(100% - 120px);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50px;
    left: 0%;
    transform: translate(0%, 0%);
    @include App.flex-box-center(row);
  }
}

//* IPhon 14 Pro Max 가로모드
@media screen and (orientation: landscape) and (min-device-width: 897px) and (max-device-width: 932px) {
  div.answer-card-images-contianer {
    width: 50%;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    min-height: 220px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    @include App.flex-box-center(row);
  }
}
//* 아이폰XR 가로모드
@media screen and (orientation: landscape) and (min-device-width: 668px) and (max-device-width: 896px) {
  div.answer-card-images-contianer {
    width: 50%;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    min-height: 220px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    @include App.flex-box-center(row);
  }
}

//* 아이폰SE 가로모드
@media screen and (orientation: landscape) and (min-device-width: 654px) and (max-device-width: 667px) {
  div.answer-card-images-contianer {
    width: 50%;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    min-height: 220px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    @include App.flex-box-center(row);
  }
}
//* 갤럭시 폴드 가로모드
@media screen and (orientation: landscape) and (max-device-width: 653px) {
  div.answer-card-images-contianer {
    width: 50%;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    min-height: 220px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    @include App.flex-box-center(row);
  }
}
